html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  /* debug */
  overflow: hidden;
  scroll-behavior: smooth;
}

#wrapper {
  z-index: 0;
  border: 1px solid red;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

div {
  border: 1px solid black;
  width:  60%;
  padding: 3em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 65%;
}

textarea {
  display: block;
  resize: none;
  padding: 1em;
}

label {
  /* padding-top: 200%; */
  display: block;
  margin-bottom: 2em;
}

input[type="submit" i] {
  color: whitesmoke;
  background-color: black;
  padding:5px 15px; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  margin-top: 10px;
}

#test {
  z-index: 100;
  padding: 0;
  padding-top: 4em;
  width: 100%;
  text-align: center;
}
